html{
    height: 100% 
}


body {
    height: 100%;
}

.fond {
        
	background-color : #1e2020;
	font-family : Caflisch Script Pro, cursive;
	position: relative;
	margin: auto;
	text-align : center;
}

@-webkit-keyframes bouge {
	from { bottom:0px; }
	to { bottom:275px; }
}

/*
header
*/

#header{
	border: solid 5px red;
	height: 100px;
	position: fixed;
	width: 98%;
	min-width: 1000px;
}

#banniere{
	border: 5px solid #2b5922;
	background-image:url("road.jpg");
	background-position: center;
	position: fixed;
	width: 40%;
	min-width: 400px;
	max-width: 600px;
	height: 75px;
	left: 350px;
	top: 20px;
}

#logo{
	position: center;
	color : #28871c;
    text-align: center;
	text-shadow: 4px 2px #091e06;
	font-size: 250%;
	position: relative;
	bottom: 30%;
}

#boutonConnect {
	background-color: #4CAF50; /* Green */
	border: 2px solid #4CAF50;
	color: white;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	position: fixed;
	transition-duration: 0.4s;
	cursor: pointer;
	right: 1%;
	top: 35px;
	right: 25px;
}

#boutonConnect:hover {
    background-color: white;
    color: #4CAF50;
}

.boutonsHeader{
	background-color: #4CAF50; /* Green */
	border: 2px solid #4CAF50;
	color: white;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.boutonsHeader:hover {
    background-color: white;
    color: #4CAF50;
}

#boutonAccueil{
	position: fixed;
	width:60px;
	height: 80px;
	padding-left: 5px;
	right: 58%;
	bottom: 113px;
}

#boutonAchats{
	position: fixed;
	padding: 10px 32px;
	padding-right: 15px;
	padding-left: 15px;
	top: -2px;
	right: 115%;
	height: 50%;
	padding-top: 5px;
}

#boutonLocations{
	position: fixed;
	padding: 10px 32px;
	padding-right: 6px;
	padding-left: 6px;
	bottom: -2px;
	right: 115%;
	height: 50%;
	padding-top: 5px;
}

/* 
carmania.php 
*/

#boutons{
	background-color: #2e2e2e;
	position: absolute;
	border: 5px double #2b5922;
	width: 90%;
	top: 25%;
	height: 60%;
	left: 5%;
}

.bouton_a {
  
  display: inline-block;
  border-radius: 4px;
  background-color: #33cc00;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 35%;
  height:25%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  top: 30%;
  left: 5%;
  /*right: 1000px;*/
  float: left;
  
}


.bouton_a span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.bouton_a span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  /*top: 0;
  right: -20px;*/
  transition: 0.5s;
}

.bouton_a:hover span {
  padding-right: 25px;
}

.bouton_a:hover span:after {
  opacity: 1;
  right: 0;
}

.bouton_l {
  
  display: inline-block;
  border-radius: 4px;
  background-color: #33cc00;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 35%;
  height:25%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  top: 30%;
  right: 5%;
  /*right: 1000px;*/
  float: right;
  
}


.bouton_l span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.bouton_l span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  /*top: 0;
  right: -20px;*/
  transition: 0.5s;
}

.bouton_l:hover span {
  padding-right: 25px;
}

.bouton_l:hover span:after {
  opacity: 1;
  right: 0;
}

/* 
carmania_co.php 
*/

#principal{
	position: absolute;
	top: 40%;
	left: 30%;
	width: 40%;
	line-height: 250%;
	border: double 5px #2b5922;
	background-color: #2e2e2e;
}


